language: python
sudo: false
python:
  - 2.6
  - 2.7
  - 3.3
  - 3.4
  - 3.5
  - 3.6
  - pypy
matrix:
  allow_failures:
    - python: pypy
    - env: TOXENV=cov
    - env: TOXENV=sith
  include:
    - python: 3.5
      env: TOXENV=cov
    - python: 3.5
      env: TOXENV=sith
install:
    - pip install --quiet tox-travis
script:
    - tox
after_script:
    - if [ $TOXENV == "cov" ]; then
      pip install --quiet --use-mirrors coveralls;
      coveralls;
      fi

